# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Expo
.expo/
.expo-shared/
web-build/

# React Native
android/
ios/

# Local Secrets
android/app/src/main/res/values/secrets.xml
HowToRun.txt
UsefulCommands.txt
assets/default-profile.jpg

# System files
.DS_Store

# Env files
.env
